nav {
  height: 10vh;
  background: #0B0B12; }

.nav-links {
  display: flex;
  list-style: none;
  width: 50%;
  height: 100%;
  justify-content: space-around;
  align-items: center;
  margin-left: auto;
  text-transform: uppercase;
  letter-spacing: 1px; }

.nav-links li a {
  color: #fff;
  text-decoration: none;
  font-size: 18px;
  font-weight: 300; }

.nav-links a:hover {
  color: #FBBC01; }

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

body {
  background: #3893BE;
  color: #0B0B12;
  height: 100%;
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.5; }
  body#bg-img {
    background: url(../img/background.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-position: left bottom; }
    body#bg-img:after {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      width: 100%;
      height: 100%;
      z-index: -1;
      background: rgba(56, 147, 190, 0.9); }

h1,
h2,
h3 {
  margin: 0;
  font-weight: 400; }
  h1.lg-heading-index .text-secondary-index,
  h1.sm-heading-index .text-secondary-index,
  h2.lg-heading-index .text-secondary-index,
  h2.sm-heading-index .text-secondary-index,
  h3.lg-heading-index .text-secondary-index,
  h3.sm-heading-index .text-secondary-index {
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    text-align: right;
    text-orientation: sideways; }
  h1.lg-heading,
  h2.lg-heading,
  h3.lg-heading {
    font-size: 6rem;
    margin-top: 1.3rem; }
  h1.sm-heading,
  h2.sm-heading,
  h3.sm-heading {
    margin-bottom: 2rem;
    padding: 0.2rem 1rem;
    background: rgba(75, 161, 202, 0.5); }

a {
  color: #FAFCFB;
  text-decoration: none; }

a:hover {
  color: #FBBC01; }

header {
  position: fixed;
  z-index: 2;
  width: 100%; }

.text-secondary {
  color: #FBBC01; }

.text-tertiary {
  color: #0B0B12; }

main {
  padding: 4rem;
  min-height: calc(100vh - 60px); }
  main .icons {
    margin-top: 1rem; }
    main .icons a {
      padding: 0.4rem; }
      main .icons a:hover {
        color: #FBBC01;
        transition: all 0.5s ease-out; }
  main#home {
    overflow: hidden; }
    main#home h1 {
      margin-top: 20vh; }

.bio {
  font-size: 1.5rem;
  width: 1fr; }

.projects {
  display: grid;
  grid-gap: 0.7rem;
  grid-template-columns: repeat(3, 1fr); }
  .projects img {
    width: 100%;
    border: 3px #FAFCFB solid; }
    .projects img:hover {
      opacity: 0.5;
      border-color: #FBBC01;
      transition: all 0.5s ease-out; }
  .projects i {
    padding-right: 0.4rem; }

.contact-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly; }
  .contact-box .iframe-style:hover {
    border: 3px solid;
    border-color: #FBBC01;
    transition: all 0.5s ease-out; }

.btn, .btn-dark, .btn-light {
  display: block;
  padding: 0.5rem 1rem;
  border: 0;
  margin-bottom: 0.3rem; }
  .btn:hover, .btn-dark:hover, .btn-light:hover {
    background: #FBBC01;
    color: #0B0B12; }

.btn-dark {
  background: black;
  color: #FAFCFB; }

.btn-light {
  background: #f8fbfd;
  color: #333; }

#main-footer {
  text-align: center;
  padding: 1rem;
  background: #2c7597;
  color: #FBBC01;
  height: 60px; }

@media screen and (min-width: 1171px) {
  .projects {
    grid-template-columns: repeat(4, 1fr); } }

@media screen and (min-width: 769px) and (max-width: 1170px) {
  .projects {
    grid-template-columns: repeat(3, 1fr); } }

@media screen and (max-width: 768px) {
  main {
    align-items: center;
    text-align: center; }
    main .lg-heading {
      line-height: 1;
      margin-top: 2.8rem;
      margin-bottom: 1rem; }
  nav {
    position: relative; }
  .hamburger {
    position: absolute;
    cursor: pointer;
    right: 5%;
    top: 50%;
    transform: translate(-5%, -50%);
    z-index: 2; }
  .hamburger-line {
    width: 30px;
    height: 3px;
    background: #fff;
    margin: 5px; }
  .nav-links {
    position: fixed;
    height: 100vh;
    width: 100%;
    flex-direction: column;
    transition: all 1s ease-out;
    pointer-events: none; }
  .nav-links.open {
    background: #3893BE;
    pointer-events: all; }
  .nav-links li {
    opacity: 0; }
  .nav-links li a {
    font-size: 25px; }
  .nav-links li:nth-child(1) {
    transition: all 0.5s ease 0.2s; }
  .nav-links li:nth-child(2) {
    transition: all 0.5s ease 0.4s; }
  .nav-links li:nth-child(3) {
    transition: all 0.5s ease 0.6s; }
  li.fade {
    opacity: 1; }
  .about-info {
    grid-template-areas: 'bio';
    grid-template-columns: 1fr; }
  .projects {
    grid-template-columns: repeat(2, 1fr); } }

@media screen and (max-width: 500px) {
  main {
    padding: 2rem; }
    main #home h1 {
      margin-top: 10vh; }
    main .lg-heading {
      margin-top: 3.3rem;
      font-size: 4rem; }
  .projects {
    grid-template-columns: 1fr; } }
